:root {
    --main-color: #0176D0;
    --main-color-darken:rgb(0, 83, 147);      
    --accent-color: #FFA800;
    --accent-hover: #e69500;
    --text-color: #444;
    --background-color: #f8f9fa;
    --background-color2:rgb(212, 212, 212); 
    --white-color:rgb(255, 255, 255);           
  }


  h1 {
    color: var(--main-color);
  }



.head-wrapper {
  background: #ffffff00;
}  


header {
background: linear-gradient(to bottom, var(--background-color), var(--background-color2));     
}






body {
    /* padding-bottom: 5rem; */
     color: var(--text-color);
     background: linear-gradient(to bottom, #ffffff,rgba(194, 194, 194, 0.26)); 
     min-height: 100vh;      
   }

   main {
 flex: 1 0 auto;
}    

.headlogo img {
  height: 80px;
  filter: drop-shadow(0 0 10px #0076cfaa);
  animation: glow 2.5s ease-in-out infinite alternate;
  animation-delay: 1.8s; /* startet nach dem Landen */
}

@keyframes glow {
  from {
    filter: drop-shadow(0 0 5px #0076cf55);
  }
  to {
    filter: drop-shadow(0 0 20px #0076cfff);
  }
}



   pre.code-block_ {
     background-color: #1e1e1e;
     color: #f8f8f2;
     padding: 1rem;
     border-radius: 0.5rem;
     overflow-x: auto;
   }

   .footer {
     background: linear-gradient(to bottom, var(--main-color), var(--main-color-darken));      
     flex-shrink: 0;
   }

   .headlogo {
 margin-bottom: 0 !important;
 padding-bottom: 0 !important;
 opacity: 0;
 transform: translateY(-160px);
 animation: moonland 1.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}



@keyframes moonland {
 to {
   opacity: 1;
   transform: translateY(0);
 }
}






   .soft-shadow-separator {
   margin: 1rem auto;
   width: 100%;
   height: 20px;
 }

 .card {
   margin-bottom: 20px;
 }

 .backContent {
   text-decoration: none;
   color:rgb(115, 115, 115);
   padding: 5px;
   border-radius: 4px;
 }

 .backContent:hover {
   text-decoration: none;
   background-color: var(--bs-code-color);
   color: white;
   transition: all 0.3s ease-in-out;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);    
 }  

 .demoshead {
   margin-bottom: 4px !important;
 }


 pre.code-block_ {
   background-color:rgba(255, 255, 255, 0);
   color:rgb(226, 226, 223);
   padding: 0;
   border-radius: 0;
   _overflow-x: auto;
}

header {
 background-color:rgba(119, 187, 255, 0.1);  
}

.code-toolbar > .toolbar {
  top: 1.25rem;
  right: 1.5rem;
}


.copy-to-clipboard-button {
}

.copy-to-clipboard-button {
  margin-right: 1rem;
}

/* Demo Text und Image */
.demo-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
  }
  
  .demo-info-text {
    color: var(--main-color);
    flex: 1;
    min-width: 280px;
    max-width: 500px;
    text-align: left;
  }
  
  .demo-info-text h2 {
    color: #d63384;
    font-size: 1.7em;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .demo-info-text p {
    font-size: 1.1em;
    line-height: 1.6;
  }
  
  .demo-info-image {
    flex: 1;
    min-width: 180px;
    max-width: 230px;
    text-align: center;
  }
  
  .demo-info-image img {
    width: 100%;
  }



  except-wrapper {
    display: inline;
  }
  
  except {
    display: inline-block;
    background: #ffe5e5;
    color: #a00;
    font-weight: bold;
    padding: 2px 6px;
    margin: 0 2px;
    border-radius: 6px;
    font-family: monospace;
  }
  
  except-seperator {
    display: inline;
    color: #999;
    font-weight: normal;
  }  

